html {
    font-family: "Roboto", "Lato", "Poppins", sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    z-index: -1;
    /* color: white; */
}

.list-style {
    border: black solid 3px;
}

#app-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding: 3.3vmin 20vmin;
    background-color: black;
    z-index: 5;
    position: sticky;
    top: 0;
    box-shadow: 0px -12px 9px 5px rgba(0, 0, 0, 0);
    transition: 0.2s ease-in-out;
}

#main-logo {
    width: 14vh;
    height: auto;
}

.header-group {
    display: flex;
    flex-direction: row;
    align-content: center;
    font-size: 3vmin;
}

.header-group:nth-of-type(1) {
    justify-content: flex-start;
    flex-grow: 1;
}
.header-group:nth-of-type(2) {
    justify-content: center;
    flex-grow: 1;
}
.header-group:nth-of-type(3) {
    flex-grow: 4;
    justify-content: flex-end;
}

#cart-img {
    width: 3vmin;
    height: auto;
}

.header-link {
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 2vmin;
}

#header-cart-link {
    flex-direction: row;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: 4vmin 0vmin 4vmin 3vmin;
    padding: 8px 6px;
    border-radius: 0.5rem;
    background-color: orange;
    color: white;
    transform: translateY(2px);
    box-shadow: 0px 0px 0px 0px rgba(58, 58, 58, 0.589);
    transition: all ease-in-out 0.2s;
}

#cart-img {
    height: 2rem;
    width: 2rem;
    margin-left: 0.5vmin;
}
