header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid rgb(45, 46, 44);
    background-color: #c8c8c8;
}

.user-header-container {
    padding: 2vh;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: grey;
}

.user-screen {
    display: flex;
    flex-direction: column;
}

#account-title {
    font-size: x-large;
}
