header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid rgb(45, 46, 44);
    background-color: #c8c8c8;
}

.user-header-container {
    padding: 2vh;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: grey;
}

.user-screen {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#account-title,
#order-title {
    font-size: x-large;
}

h4 {
    margin-bottom: 0.2rem;
    font-size: larger;
}

#orders-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order-block {
    width: 100%;
    background-color: gray;
    margin: 0.5rem;
}

.order-unit-container {
    display: flex;
    flex-direction: column;
}

.order-product-container {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
}

.order-product {
    display: flex;
    flex-direction: row;
}

.order-product-center {
    padding: 1rem;
    width: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.order-detail {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.order-img {
    height: 100px;
    width: auto;
}

.detail-title {
    margin: 0.2rem;
}
